<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--<add key="defaultPushSource" value="https://nexus.ascendlearning.com/repository/nuget-hosted/" protocolVersion="3" />-->
    <add key="repositoryPath" value="bin" />
  </config>

  <packageSources>
    <!--<add key="Ascend Nuget" value="https://nexus.ascendlearning.com/repository/nuget-hosted/index.json" protocolVersion="3" /> 	
	<add key="Ascend Nuget Cache" value="https://nexus.ascendlearning.com/repository/nuget.org-proxy/index.json" protocolVersion="3" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
